{% load static %}
{% static "images" as baseUrl%}

<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tour packages</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/landscape.css' %}" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</head>
<body>

  hiiiiiiiiiiiiiiiiiiiiiiiiiiii
  {% for package,packageitems in mainpackagedictcopy.items %}
  <div>
  {{package}}
    <div>
      <ul type="square">
        {% for pack in packageitems %}
        <li>{{pack}}</li>
      {% endfor %}
      </ul>
  </div>
  {% endfor %}
  <div>
    {{day}}
  </div>
  <div>
    {{landscapelist}}
  </div>

</body>

